:root {
  --primary-bg: #ffffff;
  --primary-color: #1e2939;

  /* Success colors */
  --success-color: #006e2f;
  --success-bg: rgba(0, 166, 61, 0.1);

  /* Error colors */
  --error-color: #b62027;
  --error-bg: rgba(231, 0, 12, 0.1);

  /* Info colors */
  --info-color: #0062b8;
  --info-bg: rgba(21, 93, 251, 0.1);

  /* Warning colors */
  --warning-color: #866300;
  --warning-bg: rgba(208, 135, 0, 0.1);

  /* Loading/Submit colors */
  --loading-color: #8736ca;
  --loading-bg: rgba(124, 58, 237, 0.1);

  --border-color: rgba(17, 24, 39, 0.1);

  --line-height-base: 1.5;
  --font-size-base: 14px;
}

/* Defaults */
.toastContainer p,
.toastContainer span {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.toastContainer button {
  border: none;
  padding: 0;
  margin: 0;
}

.toastContainer {
  position: fixed;
  z-index: 999;
  display: flex;
  gap: 14px;
  pointer-events: none; /* Allow clicks through empty space */
}
.toastContainer > * {
  pointer-events: auto; /* Re-enable for toasts */
}
.toastContainer.top-right {
  flex-direction: column;
  top: 16px;
  right: 16px;
  left: auto;
}
.toastContainer.top-left {
  flex-direction: column;
  top: 16px;
  left: 16px;
  right: auto;
}
.toastContainer.bottom-right {
  flex-direction: column-reverse;
  bottom: 16px;
  right: 16px;
  left: auto;
}
.toastContainer.bottom-left {
  flex-direction: column-reverse;
  bottom: 16px;
  left: 16px;
  right: auto;
}
.toastContainer.center {
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toastContainer.center-top {
  flex-direction: column;
  top: 16px;
  left: 50%;
  bottom: auto;
  transform: translateX(-50%);
}
.toastContainer.center-bottom {
  flex-direction: column-reverse;
  bottom: 16px;
  left: 50%;
  top: auto;
  transform: translateX(-50%);
}

.toast {
  position: relative;
  min-width: 250px;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.3s ease-in;
  will-change: transform, opacity;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-color);
}

/* Theme colors */
.light {
  --primary-bg: #ffffff;
  --primary-color: #1e2939;

  --success-color: #006e2f;
  --success-bg: rgba(0, 138, 58, 0.1);

  --error-color: #bf0009;
  --error-bg: rgba(163, 0, 8, 0.1);

  --info-color: #005fbd;
  --info-bg: rgba(0, 76, 153, 0.1);

  --warning-color: #8d6200;
  --warning-bg: rgba(153, 107, 0, 0.1);

  --loading-color: #6900ca;
  --loading-bg: rgba(106, 31, 176, 0.1);

  --border-color: lch(91.6% 2.18 271.57);

  /* background-color: #ffffff;
  color: #1e2939; */
}

.dark {
  --primary-bg: #060606;
  --primary-color: #ffffff;

  --success-color: #00df5f;
  --success-bg: rgba(0, 138, 58, 0.1);

  --error-color: #ff666d;
  --error-bg: rgba(163, 0, 8, 0.1);

  --info-color: #5badff;
  --info-bg: rgba(0, 76, 153, 0.1);

  --warning-color: #e29e00;
  --warning-bg: rgba(153, 107, 0, 0.1);

  --loading-color: #c586ff;
  --loading-bg: rgba(106, 31, 176, 0.1);

  --border-color: rgb(17, 24, 39);

  /* background-color: #1e2939;
  color: #ffffff; */
}

/* Type colors */
.success {
  color: var(--success-color);
  background-color: var(--success-bg);
}
.error {
  color: var(--error-color);
  background-color: var(--error-bg);
}
.info {
  color: var(--info-color);
  background-color: var(--info-bg);
}
.warning {
  color: var(--warning-color);
  background-color: var(--warning-bg);
}
.loading,
.submit {
  color: var(--loading-color);
  background-color: var(--loading-bg);
}

.toastHeader {
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
  border-radius: 6px;
  box-shadow: inset 0 1px rgb(0 0 0 / 0.06);
}

.toastHeader .title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  height: 100%;
}
.toastHeader .title p {
  font-family: inherit;
  font-size: 1rem;
  line-height: var(--line-height-base);
  text-transform: uppercase;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}

.close-button:hover {
  color: oklch(57.7% 0.245 27.325);
}

.toast-message__container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.toast-message__container .toast-message {
  display: inline-flex;
  align-items: center;
  text-wrap: wrap;
  gap: 8px;
  overflow: hidden;
}

.toastActions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.toastActions .action-btn {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #0b0b0b89;
  flex-shrink: 0;
  font-weight: 500;
  cursor: pointer;
}
.toastActions .action-btn:hover {
  filter: grayscale(1);
}

/* Action button 1 */
.action-btnA__success {
  color: var(--primary-bg);
  border-color: var(--success-color);
  background-color: var(--success-color);
}
.action-btnA__error {
  color: var(--primary-bg);
  background-color: var(--error-color);
}
.action-btnA__info {
  color: var(--primary-bg);
  border-color: var(--info-color);
  background-color: var(--info-color);
}
.action-btnA__warning {
  color: var(--primary-bg);
  border-color: var(--warning-color);
  background-color: var(--warning-color);
}
.action-btnA__loading,
.action-btnA__submit {
  color: var(--primary-bg);
  border-color: var(--loading-color);
  background-color: var(--loading-color);
}

/* Action button 2 */
.action-btnB__success {
  color: var(--success-color);
  background-color: var(--success-bg);
}
.action-btnB__error {
  color: var(--error-color);
  background-color: var(--error-bg);
}
.action-btnB__info {
  color: var(--info-color);
  background-color: var(--info-bg);
}
.action-btnB__warning {
  color: var(--warning-color);
  background-color: var(--warning-bg);
}
.action-btnB__loading,
.action-btnB__submit {
  color: var(--loading-color);
  background-color: var(--loading-bg);
}

.progress-container {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 0.25rem;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
}

.toast-progress {
  height: 0.25rem;
  transition: width 0.1s linear;
}

.toast-progress.success {
  background-color: var(--success-color);
}
.toast-progress.error {
  background-color: var(--error-color);
}
.toast-progress.info {
  background-color: var(--info-color);
}
.toast-progress.warning {
  background-color: var(--warning-color);
}
.toast-progress.loading,
.toast-progress.submit {
  background-color: var(--loading-color);
}

/* Zoom animation */
/* Enter animate keyframes */
@keyframes upToDown {
  from {
    opacity: 0;
    transform: translateY(-60px) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes downToUp {
  from {
    opacity: 0;
    transform: translateY(60px) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes centerEnter {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Exit animate keyframes */
@keyframes upToDownExit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(60px) scale(0.6);
  }
}

@keyframes downToUpExit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-60px) scale(0.6);
  }
}

@keyframes centerExit {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@media screen and (max-width: 426px) {
  .toastContainer.top-right,
  .toastContainer.bottom-right {
    right: 0px;
  }
  .toastContainer.top-left,
  .toastContainer.bottom-left {
    left: 0px;
  }
}