/* Defaults */
.toastContainer button,
.toastContainer p,
.toastContainer span {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.toastContainer {
  position: fixed;
  z-index: 999;
  display: flex;
  gap: 14px;
}
.toastContainer.top-right {
  flex-direction: column;
  top: 16px;
  right: 16px;
}
.toastContainer.top-left {
  flex-direction: column;
  top: 16px;
  left: 16px;
}
.toastContainer.bottom-right {
  flex-direction: column-reverse;
  bottom: 16px;
  right: 16px;
}
.toastContainer.bottom-left {
  flex-direction: column-reverse;
  bottom: 16px;
  left: 16px;
}
.toastContainer.center {
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toastContainer.center-top {
  flex-direction: column;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.toastContainer.center-bottom {
  flex-direction: column-reverse;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  position: relative;
  min-width: 310px;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: cursive;
  font-size: smaller;
  transition: all 0.3s ease-in;
  will-change: transform, opacity;
}

.light {
  background-color: #ffffff;
  color: #1e2939;
}

.dark {
  background-color: #1e2939;
  color: #ffffff;
}

.toastHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
  border-radius: 6px;
  box-shadow: inset 0 1px rgb(0 0 0 / 0.06);
}

.toastHeader .title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-button:hover {
  color: oklch(57.7% 0.245 27.325);
}

.toast-message__container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.toast-message__container .toast-message{
  display: inline-flex;
  align-items: center;
  text-wrap: wrap;
  gap: 8px;
  overflow: hidden;
}

.toastActions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.toastActions .action-btn {
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid;
  box-shadow: inset 0 0 1px #0b0b0b;
  cursor: pointer;
}
.toastActions .action-btn:hover {
  opacity: 0.8;
}

/* Action button 1 */
.action-btnA.success,.colored.success {
  color: #ffffff;
  border-color: #00c950;
  background-color: #00c950;
}
.action-btnA.error {
  color: #ffffff;
  border-color: #fb2c36;
  background-color: #fb2c36;
}
.action-btnA.info {
  color: #ffffff;
  border-color: #0088ff;
  background-color: #0088ff;
}
.action-btnA.warning {
  color: #ffffff;
  border-color: #f0b100;
  background-color: #f0b100;
}
.action-btnA.loading,
.action-btnA.submit {
  color: #ffffff;
  border-color: #aa44ff;
  background-color: #aa44ff;
}
/* Action button 2 */
.action-btnB.success {
  color: #00c950;
  border-color: currentColor;
}

.action-btnB.error {
  color: #fb2c36;
  border-color: currentColor;
}
.action-btnB.info {
  color: #0088ff;
  border-color: currentColor;
}
.action-btnB.warning {
  color: #f0b100;
  border-color: currentColor;
}
.action-btnB.loading,
.action-btnB.submit {
  color: #aa44ff;
  border-color: currentColor;
}

.progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
}

.toast-progress {
  height: 0.25rem;
  transition: width 0.1s linear;
}

.toast-progress.success {
  background-color: #00c950;
}
.toast-progress.error {
  background-color: #fb2c36;
}
.toast-progress.info {
  background-color: #0088ff;
}
.toast-progress.warning {
  background-color: #f0b100;
}
.toast-progress.loading,
.toast-progress.submit {
  background-color: #aa44ff;
}

.success {
  color: #00c950;
  background-color: rgba(0, 166, 61, 0.1);
}
.error {
  color: #fb2c36;
  background-color: rgba(231, 0, 12, 0.1);
}
.info {
  color: #0088ff;
  background-color: rgba(21, 93, 251, 0.1);
}
.warning {
  color: #f0b100;
  background-color: rgba(208, 135, 0, 0.1);
}
.loading,.submit {
  color: #aa44ff;
  background-color: rgba(124, 58, 237, 0.1);
}


/* Zoom animation */
/* Enter animate keyframes */
@keyframes upToDown {
  from {
    opacity: 0;
    transform: translateY(-60px) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes downToUp {
  from {
    opacity: 0;
    transform: translateY(60px) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes centerEnter {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Exit animate keyframes */
@keyframes upToDownExit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(60px) scale(0.6);
  }
}

@keyframes downToUpExit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-60px) scale(0.6);
  }
}

@keyframes centerExit {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@media screen and (max-width: 375px) {
  .toastContainer.top-right,
  .toastContainer.bottom-right {
    right: 0px;
  }
  .toastContainer.top-left,
  .toastContainer.bottom-left {
    left: 0px;
  }
}
